#whiteboard {
  * {
   box-sizing: border-box;
  }
  .grid-container {
      width: 10px;
      height: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        ". . ."
        ". . .";
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }

    #titleW{
        text-align: center;
    }
}
